
.playlist-client-container {

    padding: 20px;

    .music-form-container {
        height: 60px;
    }

    .playlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .playlist-item {
        width: calc(50% - 10px);
        height: 90px;
        margin-bottom: 20px;
        background-color: $color-04;
    }

    .playlist-item-element {
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }

    .playlist-item-thumbnail {
        width: 120px;
    }

    .playlist-item-title {
        width: calc(100% - 230px);
        margin-left: 10px;
    }
}

.playlist-item-votes {
    width: 100px;

    h3 {
        width: 20px;
        display: inline-block;
        text-align: center;
    }
}

.btn-vote {
    display: inline-block;
    height: 16px;
    width: 16px;

    cursor: pointer;

    &:hover {
        color: $color-03;
    }
}
