@import "../themes/theme";

body {
    background-color: $grey-00;
}

.app-container {
    display: flex;

    background-color: $white;

     /* Centering the page */
    max-width:1200px;
    margin:0 auto;
}

.app-details {
    /* This makes the element grow and take all available space, not taken by the sidebar */
    flex-grow:1;
}

aside {
    /* Give the sidebar a default width, and prevent it from shrinking */
    flex-shrink:0;
    width:280px;
}


@media all and (max-width: 800px) {

    .app-container {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    aside {
        width:auto;
    }
}
