@import "../themes/theme";

body {
    font-family: 'Lato', serif;
}

.app-container {

    height: 100vh;
    width: 100vw;

    background-color: $white;
}

.app-body {
    display: flex;
    width: 100%;
    margin: 50px auto;

    section {
        flex-grow: 1
    }

    aside {
        /* Give the sidebar a default width, and prevent it from shrinking */
        flex-shrink:0;
        width:280px;
    }
}

@media all and (max-width: 800px) {

    .app-container {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */
    aside {
        width:auto;
    }
}
